*{
    margin:0;
    padding:0;
}
html,

body{
    overflow: hidden;
}
.webgl{
    position: fixed;
    top:0;
    left:0;
    outline: none;
}
:root{
  --background-color:#4385bb7d ;
  --background-color-1: #408080db;
  --almost-black: #101010;
  --almost-white: rgba(255, 255, 255, 0.741);
}
.scene-container {
    display: flex;
    font-family: "Orbitron", sans-serif;
  }
  
  #info-container {
    position: absolute; 
    top: 20px;
    left: 0;
    width: 35%; 
    height: 90%;
    color: #fff;
    border: 1px solid #ffffff7a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  #info-container .text{
    font-size: 10px;
  } 
  .info-card {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--background-color);
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: .5rem;
    box-shadow: 0.7rem 0.7rem rgba(0, 0, 0, 0.442);
    border: 1px solid rgba(0, 0, 0, 0.442);
  }
  
  .info-card h2 {
    font-size: 30px;
    text-align: center;
  }
  
  .info-card img {
    max-width: 70%;
    height: auto;
    align-self: center;
    box-shadow: 0.7rem 0.7rem rgba(0, 0, 0, 0.53);

  }
   .diameter, .distances, .orbital, .tilt, .rotation{
    display: flex;
   }
  .diameter h5, .distances h5, .orbital h5, .tilt h5, .rotation h5{
    padding-right: 10px;
    color: var(--background-color-1)
  }
  .diameter  p, .distances p, .orbital p, .tilt p, .rotation p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
  }
 .descriptions p{
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
 } 
.close-button{
    font-family: "Orbitron", sans-serif;
    font-size: 15px;
    background: (var(--background-color-1));
    color:var(--almost-white);
    padding: .4rem
}
.label {
    
    position: absolute;
    color: var(--almost-white);
    background: rgba(0, 0, 0, 0.171);
    border: 1px solid var(--almost-white);
    font-size: 8px; 
    padding: 1.2px;
    text-shadow: -1px -1px 0 var(--almost-black), 1px -1px 0 var(--almost-black), -1px 1px 0 var(--almost-black), 1px 1px 0 var(--almost-black);
    pointer-events: none;
}